/*PALETA
    Golden batter #E8D1A7
    Toasted caramel #84592B
    Spiced Wine #743014
    Cowhide cocoa #442D1C*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
     background-color: #E8D1A7;
}
nav {
    display: flex;
    background-color: #342519;
    padding: 10px;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
ul li {
    display: flex;
    gap: 40px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #E8D1A7
}
a:hover{
    color: #84592B;
}
header{
    background-color: #342519;
    padding: 20px;
    width: auto;
}
header img{
    width: 200px;
}
h1{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #E8D1A7;
}
#header-logo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #342519;
    color: #E8D1A7;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    justify-content: space-around;
}
footer img {
    width: 100px;
}
section {
    font-size: 20px;
    color: #84592B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #84592B;}
section p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    color: #84592B;
}
.frase {
    font-size: 20px;
    color: #754e23;
    text-align: center;
}
#contenedor{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}