/*PALETA
    Golden batter #E8D1A7
    Toasted caramel #84592B
    Spiced Wine #743014
    Cowhide cocoa #442D1C*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    background-color: #E8D1A7;
    margin: 0;
}
nav {
    display: flex;
    background-color: #342519;
    padding: 10px 20px;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
ul li {
    display: flex;
    gap: 40px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #E8D1A7
}
a:hover{
    color: #84592B;
}
#enlace-1{
    color: #442D1C;
}
#enlace-1:hover{
    color: #743014;
}
header{
    background-color: #342519;
    padding: 20px;
    width: auto;
}
header img{
    width: 200px;
}
h1{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #E8D1A7;
}
#header-logo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
h2{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #84592B;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #84592B;
}
p{
    font-family: 'Oswald', sans-serif;
}
#datos{
    font-family: 'Oswald', sans-serif;
}
.datos-div{
    padding: 10px;
    background-color: #442D1C;
    border: 6px solid #E8D1A7;
    border-radius: 10px;
    color: #E8D1A7;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.datos-div:hover{
    height: 80px;
    color: #342519;
    background-color: #84592B;
}
#creditos{
    color: #743014;
    text-align: center  ;
}
section{
    margin-left: 150px;
    margin-right: 150px;
}
footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #342519;
    color: #E8D1A7;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    justify-content: space-around;
}
footer img {
    width: 100px;
}