@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
     background-color: #E8D1A7;
    margin: 0;
}
nav {
    display: flex;
    background-color: #342519;
    padding: 5px;
    justify-content: space-around;
    font-family: franklin gothic medium;
    font-size: 20px;
    
}
ul li {
    display: flex;
    gap: 40px;
    list-style: none;
}
a {
    text-decoration: none;
    color: #E8D1A7
}
a:hover{
    color: #84592B;
}
nav ul li a:hover {
    color: #947451;
    transition: 0.3s;
}
header{
    background-color: #342519;
    padding: 20px;
    width: auto;
}
header img{
    width: 200px;
}
h1{
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #E8D1A7;
}
#header-logo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}
.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(110px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, auto));
    justify-items: auto;
  grid-auto-flow: dense;
  gap: 8px;
  margin-top: 10px;
}
.caja {
    background-color: #84592B;
    padding: 20px;
    text-align: center;
     border-radius: 8px;
    color: #E8D1A7;
}
summary {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
p {
    text-align: start;
    margin-top: 10px;
    font-size: 16px;
}
.caja img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: #342519;
    color: #E8D1A7;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    justify-content: space-around;
}
footer img {
    width: 100px;
}